{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="banner banner-intro banner-intro-artist flex-center">
        <h2>Fabian Legari</h2>
    </div>
    <main>
        <div class="artist-info-container flex gap40">
            <img src="{% static 'images/fabian.jpg' %}" alt="Fabian Legari - Escultor de hierro, piedra y madera" class="artist-image">
            <div class="flex-col gap20">
                <h2>El Artista Detrás de las Esculturas</h2>
                <p>Fabian Legari es un artista plástico argentino nacido en la Ciudad Autónoma de Buenos Aires, donde desarrolló su pasión por el arte desde una edad temprana. Su formación en la Escuela Panamericana de Arte y en la Facultad de Arquitectura, Diseño y Urbanismo - UBA, le permitió explorar diversas técnicas y materiales, pero fue en el trabajo con hierro, piedra, madera y textiles los que captaron su atención. Siempre fue seducido por las formas de los elementos.<br>
                <br>
                A lo largo de su carrera, ha tenido la oportunidad de viajar y trabajar en países limítrofes y en varias provincias argentinas, donde se ha sumergido en las culturas locales y ha utilizado materiales autóctonos que enriquecen su obra. Cada pieza que crea es una fusión de la tradición argentina y las influencias de las regiones vecinas, utilizando los recursos disponibles para dar vida a objetos que hablan de identidad, memoria y la conexión con la tierra.<br>
                <br>
                Su trabajo no solo es un testimonio de su habilidad técnica, sino también una celebración de la diversidad cultural y los materiales que nos rodean.</p>
            </div>
        </div>
    </main>
{% endblock %}
