{% load static %}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Exquisite wood sculptures by Fabian Legari">
    <meta name="keywords" content="esculturas en hierro, esculturas en piedra, esculturas en madera, escultor argentino, arte con materiales naturales, esculturas autóctonas, arte regional argentino, arte y memoria, arte con identidad, esculturas contemporáneas, tradición y arte, arte de provincias argentinas, esculturas únicas, arte con materiales reciclados, escultor patagónico, arte en conexión con la tierra, esculturas culturales, fusión de tradiciones, esculturas artesanales, arte del interior argentino, esculturas con historia">
    <meta name="author" content="Lautaro Reche">
    <meta name="robots" content="index, follow">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <title>Fabian Legari - Arte Visual | Objetos</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&family=Raleway:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="flex" id="navbar">
            <a href="/" class="flex">
                <img src="{% static 'images/logo-legari.png' %}" title="Logo" class="logo">
            </a>
            <div class="hamburger-menu" id="menu-toggle">
                <i class="fa-solid fa-bars"></i>
            </div>
            <ul class="flex nav-menu" id="nav-menu">
                <li><a href="{% url 'artist' %}">El Artista</a></li>
                <li><a href="{% url 'work' %}">Obras</a></li>
            </ul>
        </nav>                   
    </header>

    {% block content %}{% endblock %}
    
    <footer>
        <div class="footer-container flex gap40">
            <div class="flex-col gap20">
                <h3>Fabian Legari Arte</h3>
                <p>Esculturas únicas en hierro, piedra y madera</p>
                <i class="fa-brands fa-instagram"></i>
            </div>
            <div class="flex-col gap20">
                <h4>Contacto</h4>
                <div class="flex-col gap10">
                    <div class="flex info-container gap10">
                        <i class="fa-solid fa-envelope"></i>
                        <p>fabianlegariarte@gmail.com</p>
                    </div>
                    <div class="flex info-container gap10">
                        <i class="fa-solid fa-phone-flip"></i>
                        <p>+54 9 11 3561-3286</p>
                    </div>
                </div>
                <p>Buenos Aires, Argentina</p>
            </div>
            <div class="flex-col gap20">
                <h4>Enlaces Rápidos</h4>
                <ul class="flex-col gap10">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="{% url 'artist' %}">El artista</a></li>
                    <li><a href="{% url 'work' 'obras-hierro' %}">Obras Hierro</a></li>
                    <li><a href="{% url 'work' 'obras-piedra-madera' %}">Obras Piedra & Madera</a></li>
                    <li><a href="{% url 'work' 'obras-madera-hierro' %}">Obras Madera & Hierro</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="copyright">
            <p>© {{ current_year }} Fabian Legari Arte. Todos los derechos reservados.</p>
        </div>
    </footer>
    
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const nav = document.getElementById("navbar");
            const toggle = document.getElementById("menu-toggle");
            const links = document.querySelectorAll("#nav-menu a");
        
            toggle.addEventListener("click", () => {
                nav.classList.toggle("open");
            });
        
            links.forEach(link => {
                link.addEventListener("click", () => {
                    nav.classList.remove("open");
                });
            });
        });
    </script>
    <script>
        function abrirModal(artId) {
            fetch(`/art/${artId}`)
                .then(response => response.text())
                .then(html => {
                    document.getElementById('modal-container').innerHTML = html;
    
                    const modal = document.getElementById("modal");
                    const imagenes = JSON.parse(modal.dataset.images);
                    let indiceActual = 0;
    
                    window.cambiarImagen = function(direccion) {
                        if (imagenes.length <= 1) return;
                        indiceActual = (indiceActual + direccion + imagenes.length) % imagenes.length;
                        document.getElementById("carousel-img").src = imagenes[indiceActual];
                    }
                });
        }
    
        function cerrarModal() {
            const modal = document.getElementById('modal');
            if (modal) {
                modal.remove();
            }
        }
    </script>    
</body>
</html>
