<footer>
    <div class="footer-container flex gap40">
        <div class="flex flex-col gap20">
            <h5>Fabian Legari Arte</h5>
            <p>Esculturas únicas en hierro, piedra y madera</p>
            <div class="flex info-container gap10">
                <i class="fa-brands fa-instagram"></i>
                <a href="https://www.instagram.com/fabianlegari/" target="_blank" rel="noopener noreferrer">@fabianlegari</a>
            </div>
        </div>
        <div class="flex flex-col gap20">
            <h5>Contacto</h5>
            <div class="flex flex-col gap10">
                <div class="flex info-container gap10">
                    <i class="fa-solid fa-envelope"></i>
                    <a href="mailto:fabianlegariarte@gmail.com" class="link-compact">fabianlegariarte@gmail.com</a>
                </div>                                
                <div class="flex info-container gap10">
                    <i class="fa-solid fa-phone"></i>
                    <p>+54 9 11 3561-3286</p>
                </div>
            </div>
            <p>Buenos Aires, Argentina</p>
        </div>
        <div class="flex flex-col gap20">
            <h5>Enlaces Rápidos</h5>
            <ul class="flex flex-col gap10">
                <li><a href="/">Inicio</a></li>
                <li><a href="{% url 'artist' %}">El artista</a></li>
                <li><a href="{% url 'work' 'obras-hierro' %}">Obras Hierro</a></li>
                <li><a href="{% url 'work' 'obras-piedra-madera' %}">Obras Piedra & Madera</a></li>
                <li><a href="{% url 'work' 'obras-madera-hierro' %}">Obras Madera & Hierro</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="copyright">
        &copy; {{ current_year }} Fabian Legari Arte. Todos los derechos reservados.
    </div>
</footer>
