{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="hero first">
        <img src="https://res.cloudinary.com/dbmamjgiv/image/upload/v1752344938/hero-image_yepwpk.webp" alt="Objetos y arte visual">
    </div>
    <main class="flex-col flex-center">
        <h2>Obras Destacadas</h2>
        {% include 'grid_art.html' %}
    </main>
    <section>
        <h2>Explora las Colecciones</h2>
        <div class="flex-center gap20">
            <a href="{% url 'work' 'obras-hierro' %}" class="card flex-center">
                <img src="https://res.cloudinary.com/dbmamjgiv/image/upload/v1752345192/foto-categoria-obras-hierro_nc1odl.jpg" alt="Obras Hierro">
                <div class="card-overlay"></div>
                <h3>Obras Hierro</h3>
            </a>
            <a href="{% url 'work' 'obras-piedra-madera' %}" class="card flex-center">
                <img src="https://res.cloudinary.com/dbmamjgiv/image/upload/v1752345192/foto-categoria-obras-piedra-madera_dfr6hp.jpg" alt="Obras Piedra & Madera">
                <div class="card-overlay"></div>
                <h3>Obras Piedra & Madera</h3>
            </a>
            <a href="{% url 'work' 'obras-madera-hierro' %}" class="card flex-center">
                <img src="https://res.cloudinary.com/dbmamjgiv/image/upload/v1752345191/foto-categoria-obras-madera-hierro_yl8fh5.jpg" alt="Obras Madera & Hierro">
                <div class="card-overlay"></div>
                <h3>Obras Madera & Hierro</h3>
            </a>
        </div>
    </section>
    <div class="banner banner-download flex-col flex-center gap20">
        <h2>Descarga el catálogo completo de obras</h2>
        <p>Explora nuestra colección completa de esculturas en detalle. Descarga nuestro catálogo digital y descubre la historia detrás de cada pieza.</p>
        <a href="https://jahqgqfef8av9bbs.public.blob.vercel-storage.com/FabianLegariArte/Libro%20web%20%281%29-iEV4Ox3kNAxnWsIXIbNbouvCPjtXby.pdf" target="_blank" rel="noopener noreferrer" class="button">Descargar</a>
    </div>
{% endblock %}
