{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="hero first">
        <img src="https://res.cloudinary.com/dbmamjgiv/image/upload/v1752344938/hero-image_yepwpk.webp?f=auto&q=auto&w=1410" alt="Objetos y arte visual" fetchpriority="high" loading="eager"
        srcset="
            https://res.cloudinary.com/dbmamjgiv/image/upload/v1752344938/hero-image_yepwpk.webp?f=auto&q=auto&w=768   768w,
            https://res.cloudinary.com/dbmamjgiv/image/upload/v1752344938/hero-image_yepwpk.webp?f=auto&q=auto&w=1024  1024w,
            https://res.cloudinary.com/dbmamjgiv/image/upload/v1752344938/hero-image_yepwpk.webp?f=auto&q=auto&w=1410  1410w,
            https://res.cloudinary.com/dbmamjgiv/image/upload/v1752344938/hero-image_yepwpk.webp?f=auto&q=auto&w=2000  2000w,
            https://res.cloudinary.com/dbmamjgiv/image/upload/v1752344938/hero-image_yepwpk.webp?f=auto&q=auto&w=2820  2820w"
        />
    </div>
    <main>
        <h3>Obras destacadas</h3>
        {% include 'grid_art.html' %}
    </main>
    <section>
        <h3>Explora las colecciones</h3>
        {% include 'collections.html' %}
    </section>
    <div class="banner banner-download flex flex-col flex-center gap20">
        <h3>Descargá el catálogo digital de obras</h3>
        <p>Explorá nuestra colección de esculturas en detalle.<br>
        Descarga nuestro catalogo digital y descrubrí la historia detrás de cada pieza.</p>
        <a href="{% static 'documents/Catálogo completo Fabian Legari.pdf' %}" download class="general-button">Descargar</a>
    </div>
{% endblock %}
