:root {
    --dark-color: #111;
    --light-color: #fbfbfb;
    --grey-color: #ccc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Playfair Display, serif;
    color: var(--dark-color);
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

ul {
    list-style: none;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.gap10 {
    gap: 10px;
}

.gap20 {
    gap: 20px;
}

.gap40 {
    gap: 40px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 9vh;
    justify-content: flex-end;
    align-items: center;
    padding: 0 40px;
    background-color: var(--light-color);
    z-index: 1000;
    box-shadow: 0 0px 10px var(--grey-color);
}

nav ul li a {
    font-size: 1.125rem;
}

.logo {
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);
    width: 200px;
}

#check-hamburger-menu, .hamburger-menu {
    display: none;
}

.temporary {
    height: 600px;
    background-color: aqua;
}

footer {
    background-color: #F2E1CE;
    padding: 3rem;
}

h3, h4 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
}

footer p {
    font-size: 1.1rem;
}

i {
    font-size: 1.5rem;
}

.footer-container {
    justify-content: space-around;
    padding: 20px 0;
}

hr {
    border: none;
    height: 1px;             /* altura de la línea */
    background-color: var(--grey-color);   /* color de la línea */
}

.copyright {
    text-align: center;
    margin: 20px 10px 0 10px;
}
